<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>DETAIL</h2>
    <h3>{{article.pk}} 번째 글</h3>
    <hr>
    <p>제목 : {{article.title}}</p>
    <p>내용 : {{article.content}}</p>
    {% comment %} 작성 시각, 수정 시각 추가 가능 {% endcomment %}
    <hr>

    <a href="{% url 'articles:update' article.pk %}"> EDIT </a>

    <hr>

    <form action="{% url 'articles:delete' article.pk %}" method = "POST">
        {% csrf_token %}
        <input type="submit" value = 'DELETE'>
    </form>
    <a href="{% url 'articles:index' %}"> [back] </a>
    <hr>
</body>
</html>